html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #202124;
    position: relative;
}

.top {
    flex-shrink: 0;
    display: grid;
    width: 100%;
    grid-template-rows: 45px;
    grid-template-columns: 1fr 8.5fr 2.5fr;
    grid-template-areas: "top_l . top_r";
    line-height: 28px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.top-left {
    grid-area: top_l;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.top-right {
    grid-area: top_r;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#sign-in {
    color: white;
    background-color: #4285f4;
    border-color: #4285f4;
    border-style: solid;
    outline: none;
    height: 30px;
    border-radius: 2px;
    font-weight: bold;
}

.a-top {
    color:rgba(0,0,0,0.87);
    font-size: 13px;
    text-decoration: none;
}

.a-top:hover {
    text-decoration: underline;
    opacity: 0.85;
}

#apps {
    color: grey;
    font-size: 30;
    line-height: 40px;
}

#apps:hover {
    color: black;
    opacity: 0.85;
}

.main-group {
    flex: 1 0 auto;
    flex-shrink: 0;
}

.footer {
    flex-shrink: 0;
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 3fr 5fr 2fr;
    grid-template-areas: " bot_l . bot_r ";
    font-size: 15px;
    line-height: 40px;
    border-top: 1px solid #dadce0;
    background-color: rgb(242, 242, 242);
}

.bottom-left {
    grid-area: bot_l;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.bottom-right {
    grid-area: bot_r;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
