body {
    
}







.a-top:hover {
    text-decoration: underline;
    opacity: 0.85;
}

#apps {
    color: grey;
    font-size: 30;
    line-height: 40px;
}

#apps:hover {
    color: black;
    opacity: 0.85;
}

.main-group {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 200px 100px 50px 200px;
    grid-template-areas: ". google-logo ."
                        ". search-bar ."
                        ". buttons ."
                        ". . . ";
    padding: 0 0 40px;
}


#google-logo {
    grid-area: google-logo;
    align-self: end;
    justify-self: center;
}

.search-bar {
    grid-area: search-bar;
    justify-items: center;
    
}

.buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footer {
    
}

